streamlit

# Comment out dependencies for future use
# langchain>=0.1.0
# langchain-openai>=0.0.5
#langchain-community
# langchain-core
# openai
# faiss-cpu
# numpy
# python-dotenv
# tavily-python
# pytest